----------------------------------------------------------
-- EMPTY THE DATABASE IN CASE IT CONTAINS CONTENT
----------------------------------------------------------

DROP TABLE IF EXISTS kandula.instances;
DROP SCHEMA IF EXISTS kandula;

-----------------------------------
-- CREATE THE TABLE STRUCTURE
-----------------------------------

-- Create the database schemas
CREATE SCHEMA kandula;
SET SCHEMA 'kandula';
-- On psql:
-- SET search_path TO kandula;

-- Create a table for the Two Trees category data
CREATE TABLE kandula.instances (
    instance_id         VARCHAR(100) NOT NULL PRIMARY KEY,
    shutdown_time       TIME
);
